html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #42176a;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form__item {
  display: block;
  width: 100%;
}
.form__box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.form__gender {
  display: flex;
  align-items: center;
}
.form__item--radio {
  margin: 8px;
}
